body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #434455;
}

.contacts {
  font-style: normal;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-item:hover,
.contact-item:focus {
  color: #404bbf;
}

ul {
  list-style-type: none;
}

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-text {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
}

.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}

.section-list-item {
  background-color: #ffffff;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.primary-button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: none;
}

.primary-button:hover,
.primary-button:focus {
  background-color: #404bbf;
}

.main-page-footer {
  background-color: #2e2f42;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
